*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.mpb
*.~mm
*.groupproj.local
*.tvsconfig
*.local
*.identcache
*.rsm
*.~pas
*.~dfm
*.~ddp
*.o
*.ppu
*.dbg
*.or
*.lps
*.compiled
Win32/
Win64/
*.a
*.~inc
backup/
*.res
*.pas;1
*.pas;2
*.pas;3
*.pas;4
*.pas;5
*.pas;6
*.pas;7
*.pas;8
*.pas;9
*.log
test/
_release/
*.obj
BurdockPaint.ini
backups/
notused/
/data/
*.data
*.bpprj
source/FrankNStein.exe
*.exe
*.vmu
work/.burdockpaint/settings.ini
work/Decorations/convert_old.mc2
/release
source/BuildAndUpload.ps1
work/.burdockpaint_/settings.ini
